@import "../components/header/variables.scss";

@mixin cardDescSection {
  height: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px 20px 20px;
  font-family: $header-text;
  font-size: 11px;
  p {
    font-family: $paragraph-text;
    font-size: 14px;
  }
}

@mixin cardBtnDesign {
  font-family: $paragraph-text;
  font-size: $font-size-small;
  color: $primary-color;
  border-radius: 0;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  padding: 2% 10%;
  width: 100%;
  cursor: pointer;
}

.card-container {
  @include dropShadow;
  background-color: $primary-color;
  max-width: 30%;
  height: 100%;
  padding-bottom: 20px;

  .img-section {
    width: 100%;
    height: 210px;
    img {
      object-fit: cover;

      height: 100%;
      width: 100%;
    }
  }

  .desc-section {
    @include cardDescSection();

    button {
      @include cardBtnDesign();
    }
  }
}
